@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*
lichtgrijs #F7F7F7
donkergrijs #d3d3d3
*/


.recipe-card {
    font-family: 'Poppins';
    border: none;
    border-radius: 10px;
    /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
    margin: 80px auto;
    /* Dit element heeft een vaste breedte van 350 pixels */
    width: 350px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grijze-balk {
    background-color: #F7F7F7; /* Grijze kleur */
    height: 25px; /* Hoogte van de balk */
    width: 350px; /* Breedte van de balk */
    display: flex;

}
.grijze-balk img{
    width: 15px;
    margin-left: 25px;
    margin-right: 10px;
}

.beschrijving
{
    height: 50px;
    margin-left: 25px;
    align-content: center;
}



.image-pastasalade {
    max-width: 100%; /* Zorgt ervoor dat de container nooit breder is dan het scherm */
    text-align: center;
}

img {
    max-width: 100%; /* Zorgt ervoor dat de afbeelding nooit breder is dan de container */
    height: auto; /* Behoudt de juiste hoogte in verhouding tot de breedte */
    margin: -5px;
}

.hartje {
    position: absolute;
    top: 20px;
    right: -60px;
    width: 100px; /* Breedte van de afbeelding */
    height: 100px; /* Hoogte van de afbeelding */
}


/* - Vul dit document aan met jouw eigen css! - */