@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
///////
oranje #DE6127
lichtgrijs #e8e8e8
donkergrijs #737373

kleuren voor de bolletjes
#faa0c7
#272729
#928471
#c2c2b4

//////*/

/*

lichtgrijs #F7F7F7
donkergrijs #d3d3d3


/////*/
/*
.product {
    border: 1px red;
    !* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*!

    !* Dit element heeft een vaste breedte van 350 pixels *!
    width: 350px;
    border-radius: 5;
    position: relative;

}*/


.dot1 {
    height: 25px;
    width: 25px;
    background-color: #c2c2b4;
    border-radius: 50%;
    display: inline-block;
}
.dot2 {
    height: 25px;
    width: 25px;
    background-color: #928471;
    border-radius: 50%;
    display: inline-block;
}
.dot3 {
    height: 25px;
    width: 25px;
    background-color: #272729;
    border-radius: 50%;
    display: inline-block;
}
.dot4 {
    height: 25px;
    width: 25px;
    background-color: #faa0c7;
    border-radius: 50%;
    display: inline-block;
}

.model img:first-of-type {
    width: 350px;
}
.model img:last-of-type {
    width: 25px;
    height: 25px;
    margin-left: -45px;
    margin-bottom: 10px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1{
    width: 350px;
    margin-top: 25vh;
}

/* - Vul dit document aan met jouw eigen css! - */